.AppMenu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  overflow-y: auto;
  color: var(--inverted-bg-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--bg-color);
}

.wallets {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  gap: 10px;
}

.text {
  color: var(--inverted-bg-color);
}
